DATABASE_URL=postgresql://muputun:change_me@localhost:5433/muputun_dev
DATABASE_DIRECT_URL=postgresql://muputun:change_me@localhost:5433/muputun_dev

ADMIN_JWT_SECRET=change_me

CPANEL_BASE_URL=
CPANEL_USERNAME=
CPANEL_API_TOKEN=
CPANEL_DEFAULT_DOMAIN=muputun.cl
CPANEL_ALLOWED_DOMAINS=muputun.cl

MAIL_IMAP_HOST=
MAIL_IMAP_PORT=993
MAIL_IMAP_SECURE=true
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=465
MAIL_SMTP_SECURE=true
